{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}
  <script src="{{url_for('static', filename='echarts.js')}}"></script>
{% endblock %}

{% block content %}
<center>
  <div id="main" style="width: 600px;height:400px;"></div>
</center>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  var option = {
    title: {
      text: 'ECharts Sample'
    },
    tooltip: {},
    legend: {
      data: ['ed','yd','sw', "ds"]
    },
    xAxis: {
      data: [
        {% for item in values %}
          "{{ item[2] }}",
        {% endfor %}
      ]
    },
    yAxis: {},
    series: [
      {
        name: 'ed',
        type: 'bar',
        data: [
          {% for item in values %}
            "{{ item[3] }}",
          {% endfor %}
        ]
      },
      {
        name: 'yd',
        type: 'bar',
        data: [
          {% for item in values %}
            "{{ item[4] }}",
          {% endfor %}
        ]
      },
      {
        name: 'sw',
        type: 'bar',
        data: [
          {% for item in values %}
            "{{ item[5] }}",
          {% endfor %}
        ]
      }
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>
{% endblock %}
