{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"/> -->
<!-- <script src="//cdn.jsdelivr.net/npm/vue@3"></script> -->
<!-- <script src="//cdn.jsdelivr.net/npm/element-plus"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
<script src="{{url_for('static', filename='vue@3.js')}}"></script>
<script src="{{url_for('static', filename='element-plus.js')}}"></script>

{% endblock %}

{% block content %}
<div id="app">
  <el-button>[[ message ]]</el-button>
  <el-row class="mb-4">
    <el-button>Default</el-button>
    <el-button type="primary">Primary</el-button>
    <el-button type="success">Success</el-button>
    <el-button type="info">Info</el-button>
    <el-button type="warning">Warning</el-button>
    <el-button type="danger">Danger</el-button>
  </el-row>
  <div class="block">
    <span class="demonstration">Default</span>
    <el-date-picker
      v-model="value1"
      type="date"
      placeholder="Pick a day"
      :size="size"
    />
  </div>
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="date" label="Date" width="180" />
    <el-table-column prop="name" label="Name" width="180" />
    <el-table-column prop="address" label="Address" />
  </el-table>


</div>
<script>
    const tableData = [
  {
    date: '2016-05-03',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    address: 'No. 189, Grove St, Los Angeles',
  },
]

  const App = {
    delimiters: ['[[', ']]'],
    data() {
      return {
        message: "Hello Element Plus",
        tableData: tableData,
      };
    },
  };
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount("#app");
</script>


<div id="app2">
  <button @click="count++">[[ count ]]</button>
</div>
<script>
  const app2 = Vue.createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        count: 0
      }
    }
  })

  app2.mount('#app2')
</script>

{% endblock %}

{% block script %}

{% endblock %}
